.section-about{
    p{
        font-size: 1.125rem;
        color: $gray-500;
    }
}
.statistic{
    h3{
        font-weight: 800;
        font-size: 4rem;
    }
    p{
        font-weight: 500;
        color: $gray-500;
    }
}