.dropdown{
    .dropdown-toggle{
        display: inline-flex;
        align-items: center;
        &:after{
            content: "\ea4a";
            font-family: 'boxicons' !important;
            border: none;
            font-size: 1.125rem;
        }
      
    }
    .dropdown-menu{
        box-shadow: $dropdown;
        overflow: hidden;
        .dropdown-item{
            color: $gray-900;
            line-height: $spacer;
            display: flex;
            align-items: center;
            gap: .5rem;
            .icon{
                color: $gray-300;
            }
            &:hover{
                color: $primary;
                .icon{
                    color: $primary;
                }
            }
        }

    }
}