:root {
    --bs-body-font-family:#{$app-font};
}

body {
    background-color: $light;
    color: $gray-500
}

// a,
// .btn {
//     @include transition;
// }

.btn {
    &.btn-link {
        text-decoration: none;
    }

    &.btn-primary {
        &:not(.btn-outline-primary) {
            color: $white;
        }
    }

    &.btn-outline-primary {
        &:hover {
            color: $white;
        }
    }

    &.gray-outline-primary {
        &:not(:hover) {
            border-color: $gray-100;
        }
    }
}

.form-control {
    &::placeholder {
        color: $gray-300;
    }
}

section {
    padding: 2.5rem 0;

    @media (min-width:992px) {
        padding: 4.5rem 0;
    }
}

.section-header {
    margin-bottom: 2rem;

    &.text-center {
        max-width: 992px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-subtitle {
        color: $primary;
        margin: 0;
        font-weight: 700;
    }

    .section-title {
        color: $gray-500;
        font-weight: 700;
        font-size: 1.75rem;
    }

    p {
        color: $gray-300;
    }
}

.opening-list {
    @media (min-width:992px) {
        max-height: 570px;
        overflow: auto;
    }
}

.list-check {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        position: relative;

        padding: $spacer * .5 0;
        padding-left: 2rem;

        &:before {
            width: 1.25rem;
            height: 1.25rem;
            border-radius: $spacer;
            background: $success;
            color: $white;
            content: "\ea41";
            position: absolute;
            left: 0;
            top: 9px;
            font-family: 'boxicons' !important;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.or-devider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;

    &:before {
        left: 0;
        right: 0;
        position: absolute;
        height: 1px;
        background: $gray-100;
        content: '';
        top: 50%;
        transform: translateY(-50%);

    }

    span {
        position: relative;
        z-index: 1;
        padding: 0 1rem;
        background: $white;
        font-weight: 600;
        color: $gray-300;
    }
}

.buttons {
    gap: 1rem;

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
    }
}

.image-container {
    height: 100%;

    img {
        display: block;
        border-radius: 2rem;
        object-fit: cover;
        height: 100%;
    }
}

.pagination {
    gap: .5rem;

    .page-item {
        .page-link {
            width: 2.5rem;
            height: 2.5rem;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: .25rem;
            border: none;

            &:not(:hover) {
                color: $gray-500;
            }



        }

        &:not(.active) {
            .page-link {
                &:hover {
                    color: $primary;
                    background-color: $lorange;
                }
            }
        }

        &.active {
            .page-link {
                color: $white;
            }
        }

        &.button {
            .page-link {
                background: $lorange;
                color: $primary;
                font-size: 1.5rem;

                &:hover {
                    color: $white;
                    background: $primary;
                }
            }
        }
    }
}

.button-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    white-space: nowrap;

    .buttons {
        display: flex;
        align-items: center;
        gap: .5rem;

        .btn {
            display: flex;
            align-items: center;
            gap: .5rem;
        }
    }
}

.no-data-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;

    p {
        margin-top: 2rem;
        font-size: 1.75rem;
        font-weight: 600;
        color: $gray-300;
    }
}

.progress{
    height: 6px;
}

.multiple-info {
    display: flex;
    
    white-space: nowrap;
    flex-direction: column;
    gap: 0;
    @media (min-width:992px) {
        gap: 1rem;
        flex-direction: row;
        align-items: center;
    }
    .info{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: .25rem;

    }

    span {
        position: relative;
        display: flex;
        align-items: center;
        gap: .25rem;

        .icon {
            color: $gray-200;
        }

        strong {
            font-weight: 600;
        }

        @media (min-width:992px) {
            &+span {
                padding-left: 1.25rem;

                &:before {
                    position: absolute;
                    left: 0;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: $gray-100;
                    content: '';
                    top: 50%;
                    transform: translateY(-50%);

                }
            }
        }
    }
}