.marquee {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
  --gap: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__content1 {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;

}

.marquee__content2 {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;

}

.marquee__content1:hover {
  animation-play-state: paused;
}

.marquee__content2:hover {
  animation-play-state: paused;
}



.Monthtext:hover {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

.Monthtext:hover {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

