@media (max-width:992px) {
  .multiple-info {
    white-space: unset;
  }

  .tabel-footer {
    flex-direction: column;
  }

  .nav.nav-pills.nav-pills-jh {
    width: 100%;
  }

  header {
    position: sticky;
    top: 0rem;
    z-index: 99;
  }
}

@media (min-width:992px) {
  header {
    position: sticky;
    /* top: -3rem; */
    top: 0rem;
    z-index: 99;
  }
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow: auto !important;
  overflow-x: hidden !important;
}

.otpbox {
  width: 2.2rem !important;
  height: 2.2rem !important;
}

.rdt_TableHead {
  font-weight: bold;
  font-size: 1rem;
}

.rdt_TableRow {
  font-size: 1rem;
}

.btn.btn-link-login {
  text-decoration: none;
}

#close {
  /* Position */
  position: absolute;
  top: 10px;
  right: 10px;
  /* Style */
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
  background-color: #000000;
  border: 3px solid #ffffff;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 25px 3px;
  /* Makes the Button round */
  border-radius: 50%;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 3px;
}

/* Change cursor when pointing on button */
#close:hover,
#close:focus {
  text-decoration: none;
  cursor: pointer;
}

/* 100% image width on smaller screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.drop-cap::first-letter {
  -webkit-initial-letter: 2;
  initial-letter: 2;
  color: #2E475D;
  font-weight: bold;
  margin-right: .30em;
}


/* search datalist styling */
.search-container {
  position: relative;
}

.searchlist-hidden {
  display: none;
}

.search-datalist-div {
  position: absolute;
  top: 75px;
  left: 0px;
  /* width: fit-content; */
  /* min-width: 545px; */
  min-width: 100%;
}

.searchlist {
  position: relative;
  height: 210px;
  overflow-y: auto;
  scroll-behavior: smooth;
  list-style: none;
  background-color: white;
  z-index: 99;
  box-shadow: 2px 2px 10px gray;
  border-radius: 20px;
  text-align: left;
  scroll-behavior: smooth;
}

.datalist-list {
  /* box-shadow: 2px 2px 10px gray; */
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  /* border-bottom: 1px solid black; */
  box-shadow: 1px 0 1px gray;
  padding-top: 8px;
  cursor: pointer;

}

@media only screen and (max-width: 576px) {
  .search-datalist-div {
    position: absolute;
    top: 50px;
    /* width: fit-content; */
    /* min-width: 350px; */
    min-width: 100%;
    /* max-width: 300px; */
    left: 0px;
  }

  .advance-searchlist {
    /* position: absolute; */
    top: 27px;
    width: 90%;
    left: 0px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffae9a;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FF5C35;
}

.nav-hide-list {
  display: none;
}


@media only screen and (max-width: 576px) {
  .nav-hide-list {
    display: none;
  }

}

@media only screen and (max-width: 992px) {
  .nav-hide-list {
    display: block;
  }

}

/* Cookies Consent Notice */
.cookiesContainer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0px;
  z-index: 50;
  width: 100%;
  padding: 8px 5px;
  background: rgba(255, 255, 255, 1);
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: center;
  box-shadow: -5px 5px 20px gray;
  /* border: 1px solid black; */
}

.cookiesBtn {
  border-radius: 10px;
  background-color: #FF5C35;
  color: #ffffff;
  padding: 5px 8px;
  border: none;
  font-size: 12px;
}

.cookiesBtn:hover {
  background-color: #f4896e;
}

.cookiesText {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 576px) {
  .cookiesText {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    gap: -15px;
  }

  .cookiesText a {
    margin-top: -20px;
  }

  .cookiesText button {
    margin-top: -15px;
  }

  .todays-job-card {
    width: 100% !important;
  }
}

@media only screen and (max-width: 992px) {
  .cookiesText {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    gap: -15px;
  }

  .cookiesText a {
    margin-top: -20px;
  }

  .cookiesText button {
    margin-top: -15px;
  }

}


/* .nav-link {
  color: #FE5C35;
  font-weight: lighter;
}

.nav-link:hover {
  color: #FE5C35;
  font-size: medium;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.2);
} */

.search-container {
  border-radius: 20px;
}

#idxSearchBtn {
  border-radius: 50px;
  background-color: #FE5C35;
  border-color: #FE5C35;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  /* Add the transition property */
  margin-left: auto;
}

@media only screen and (max-width: 992px) {
  #idxSearchBtn {
    border-radius: 15px;
    background-color: #FE5C35;
    border-color: #FE5C35;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    /* Add the transition property */
  }
}





#idxSearchBtn:hover {
  background-color: #ff3907;
  /* Change background color on hover */

}

.todaysJobs {
  text-align: center;
}

.cardTodaysJobs {
  border-radius: 10px solid black;
  width: 18rem;
  height: 360px;
}





.previousActiveJobs {
  text-align: center;
}

.title-container {
  margin-top: 0px;
}

.todaysJobs-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: 772px;
}

.todaysJobs-card {
  width: 23%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.todaysJobs-card-body {
  text-align: center;
  background-color: #FDF4EA;
  padding: 20px 30px;
  position: relative;
}

.todaysJobs-card-body:hover {
  box-shadow: 0 2px 4px 0 rgba(125, 125, 125, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.todaysJobs-card-body span,
.todaysJobs-card-body p {
  overflow-wrap: break-word;
}

@media (max-width: 768px) {
  .todaysJobs-card {
    width: 100%;
    /* Make cards full width on smaller screens */
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .todaysJobs-card {
    width: calc(50% - 10px);
    /* Adjust for margins/padding */
  }
}

.footer-container {
  /* background-color: #FDF4EA; */
  /* background-color: #0B1120; */
  background-color: #0F172A;
}

/* .icon{
 background-color: #FE5C35; 
} */
.todaysjobbtn {
  display: flex;
  justify-content: space-around;
}


.service-icon {
  background-color: #FE5C35;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-45deg);
  margin: 0 auto;
  /* Center horizontally */
  margin-bottom: 25px;
}

.trendingJobs-card {
  margin: 0;
  /* border: 2px solid black; */
}

.trendingJobs-card-body {
  text-align: center;
  padding: 30px;
  cursor: grabbing;

  border-radius: 10px;
}



@media (max-width: 768px) {
  .trendingJobs-card-body {
    height: auto;
    /* Remove fixed height for smaller screens */
    padding: 20px;
    /* Adjust padding for smaller screens (optional) */
  }
}

.adbtn {
  background-color: #FE5C35;
  border-radius: 10px;
  border-color: #FE5C35;
  padding: 5px 9px;
  color: white;
  margin-right: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: medium;
}

.text-button {
  display: block;
}

.icon-button {
  display: none;
}

/* Desktops and laptops */
@media only screen and (max-width: 1200px) {
  .adbtn {
    font-size: 18px;
  }

  .text-button {
    display: none;
  }

  .icon-button {
    display: block;
  }

}


/* Tablets (portrait and landscape) */
@media only screen and (max-width: 992px) {
  .adbtn {
    font-size: 16px;
  }


}

@media only screen and (max-width: 768px) {
  .adbtn {
    font-size: 14px;
    margin: 0 auto;
  }


}



.adbtn:hover {
  background-color: #ff3907;
  text-decoration: none;
  /* Change background color on hover */
}

.hero-header {
  /* max-height: 450px; */
  max-height: 850px;
}

@media (min-width: 992px) {
  section {
    padding: 0.5rem 0;
  }
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  /* Key for responsiveness */
  gap: 20px;
  justify-content: center;
}

/* Optional media queries for specific breakpoints (adjust as needed) */
@media (max-width: 768px) {
  .tags-container {
    justify-content: center;
    /* Align to left on smaller screens */
  }
}

@media (max-width: 576px) {
  .tags-container {
    gap: 5px;
    /* Adjust gap for smaller screens */
  }
}

#btnlight {
  color: #FE5C35;
  background-color: #FDF4EA;
  margin-bottom: 40px;
  border: 1px solid rgb(168, 165, 165);

}

.iconbg {
  height: 30px;
  width: 30px;
  border-radius: 6px;
}

.todaysjobsection {
  margin-bottom: 100px;
}

/* .loader-line {
  width: 200px;
  height: 5px;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
  margin: 30px auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.loader-line:before {
  content: "";
  position: absolute;
  left: -50%;
  height: 5px;
  width: 40%;
  background-color: #ff3907;
  -webkit-animation: lineAnim 2s linear infinite;
  -moz-animation: lineAnim 2s linear infinite;
  animation: lineAnim 2s linear infinite;
  animation-direction: alternate;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

@keyframes lineAnim {
 0% {
    left: 100%; 
    width: 100%; 
  }
  50% {
    left: 20%; 
    width: 80%; 
  }
  100%  {
    left: -40%; 
    width: 40%; 
  }
}
@media only screen and (max-width: 768px) {
  .loader-line {
    width: 90%; 
  }
} */

.geeks {
  width: 200px;
  height: 5px;
  background: #FF5C35;
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  left: 50%;
  transform: translate(-50%, -50%);

}

.geeks::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  animation-direction: alternate;
  background: #fff;
  animation: animate 5s linear infinite;
}

@keyframes animate {

  0% {
    left: -1%;
    width: 5%;
  }

  50% {
    left: 95%;
    width: 5%;
  }

  100% {
    left: -3%;
    width: 5%;
  }
}



.wrapper {
  perspective: 1000px;


}

.spinner {
  width: 2rem;
  height: 2.8rem;
  background-color: #FE5C35;
  animation: 3s linear infinite spin forwards;
}

@keyframes spin {

  0%,
  100% {
    transform: rotate(0deg);

  }

  30% {
    transform: rotateY(360deg);

  }

  70% {
    transform: rotateX(360deg);

  }
}



.paperadv-card {
  margin: 0;
  /* border: 2px solid black; */
}

.paperadvcard-body {
  text-align: center;
  /* background-color: #FDF4EA; */
  height: 360px;
  padding: 25px;
  cursor: grabbing;
}

.paperadvcard-body:hover {
  transform: scale(1.1);
  /* Zoom in by 10% on hover */
  transition: transform 0.3s ease-in-out;
  /* Smooth transition */
  cursor: pointer;
  /* Add a zoom-in cursor for visual feedback */
}

/* .text-content {
  margin-top: 50px;
} */

.hero-header .search-container {
  display: flex;
  background: #fff;
  padding: 0.325rem;
  flex-wrap: wrap;
  gap: 1rem;
  box-shadow: 3px 3px 20px rgb(0 0 0 / 31%);
}


@media (max-width: 767px) {

  /* Target smaller screens first */
  .hero-header .search-container {
    flex-direction: column;
    /* Switch to column layout on small screens */
    margin-top: 2rem;
    /* Add margin for better spacing */
  }
}

@media (max-width: 767px) {

  /* .hero-header .search-container {
    flex-direction: column;
    margin-top: 2rem;
    border-radius: 20px;
  } */

  #idxSearchBtn {
    margin-left: unset;
  }
}

@media (max-width: 1200px) {
  .hero-header .search-container .input-group {
    border: 1px solid #d9dcdf;
    display: flex;
    align-items: center;
    border-radius: 15px;
  }
}

.regcontainer {
  display: flex;
  justify-content: center;
}


.regcontainer div {
  text-align: center;
  display: flex;
}



.num {
  margin-top: auto;
  /* Push the number div below its sibling */
}

.nanucol {
  display: flex;
  flex-direction: column;
  /* This sets the flex items to stack as columns */
}

@media (max-width: 1200px) {
  .hero-header .search-container .input-group #myInput {
    display: flex;
    align-items: center;
    border-radius: 20px;
    /* Add border-radius here */
  }
}

.hero-header {

  text-align: center;
  min-height: 50vh;
  padding: 0;
  position: relative;
  overflow: hidden;
  max-height: 550px;

}


.hero-header .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - -180px);
  /* height: calc(100vh - -180px); */
  object-fit: cover;
  z-index: -1;
  /* filter: brightness(50%); */
  /* filter: brightness(50%); */
  /* opacity: 0.5; Optional: adjust the opacity for better text visibility */
}

/* .hero-header .container {
  position: relative;
  z-index: 1;
} */
.hero-header .container {
  position: relative;
  display: fixed;
  /* align-items: center; */
  justify-content: end;
  z-index: 1;
  max-width: 100%;
  padding: 0 15px;
  /* margin-top: 300px; */
  margin-top: 5%;
}


@media (max-width: 992px) {
  .hero-header .container {
    /* margin-top: 120px; */
  }
}

/* @media (max-width: 768px) {
  .hero-header .container {
    margin-top: 100px; 
  }
} */



/* @media (min-width: 450px) and (max-width: 768px) {
  .hero-header .container {
    margin-top: 82px;
  }
} */

@media (max-width: 1601px) {
  .hero-header .background-image {
    height: calc(100% - -110px);

    filter: brightness(50%);
  }
}

@media (max-width: 1601px) {
  .hero-header {
    min-height: 400px;
    padding: 20px;
  }

  .hero-header .background-image {
    /* height: calc(100% - -110px); */
    height: calc(75% - -200px);
    filter: brightness(50%);

  }
}

@media (min-width: 1400px) and (max-width: 1600px) {
  .hero-header .background-image {
    height: calc(90% - -200px);
    filter: brightness(50%);

  }
}

@media (min-width: 300px) and (max-width: 768px) {
  .hero-header .container {
    /* margin-top: 40px; */
    /* margin-top: 216px; */
    justify-content: center !important;
  }
}

@media (min-width: 300px) and (max-width: 768px) {
  .hero-header .background-image {
    /* margin-top: 40px; */
    top: -110px;
    height: calc(100% - -110px);
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .hero-header .container {
    /* margin-top: 40px; */
    /* margin-top: 190px; */
    /* margin-top: 19%; */
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .hero-header .background-image {
    /* margin-top: 40px; */
    top: -124px;
    height: calc(100% - -110px);
  }
}

@media (max-width: 991px) {
  .hero-header {
    min-height: 600px;
    padding: 20px;
  }

  .animate__animated {
    gap: 10px !important
  }
}

@media (max-width: 767px) {
  .hero-header {
    min-height: 670px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .hero-header {
    min-height: 650px;
    padding: 5px;
  }
}


.hero-header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

/* @keyframes color-change {
  from {
    background-color: #fcba77;
  }

  to {
    background-color: #fcc7c7;
  }
} */

@media (max-width:1400px) {
  .footergeeks {
    display: none;
  }
}

.carousel-control-prev {
  left: -70px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .carousel-control-prev {
    left: -48px;
  }
}

@media (max-width: 767px) {
  .carousel-control-prev {
    display: none;
  }
}


.carousel-control-next {
  right: -70px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .carousel-control-next {
    right: -48px;
  }
}

@media (max-width: 767px) {
  .carousel-control-next {
    display: none;
  }
}

@media (max-width: 767px) {
  #idxToastContainer {
    display: none;
  }
}


.wow {
  border-radius: 16.878px;
  border: 1px solid #B9B9B9;
  background: #FFF;
  backdrop-filter: blur(22.015430450439453px);
  /* box-shadow: 3px 9px 20px rgb(0 0 0 / 31%); */
  /* box-shadow: 3px 3px 20px rgba(0 0 0 / 31%); */
  box-shadow: 0px 0px 0px 1px rgba(0 0 0 / 25%)
}


.group-7 {
  height: 210.4px;

  width: 337px;
}

.frame-12 {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 41px 264px;
  justify-content: center;
  left: 65px;
  position: absolute;
  width: 1310px;
}

.cardpop {
  width: 329px;
  height: 202.405px;
  flex-shrink: 0;
  border-radius: 22.489px;
  background: #FFEFEB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  min-width: 300px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.2s;
}

.cardconn {
  display: flex;
  gap: 50px;
  margin-left: 20rem;
  display: flex;
  justify-content: center;
  /* width: 100%; */
  /* max-width: 1000px; */
  margin: 10px;
}

.popularContainer {
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: center;
}

.cardpop img {
  width: 62.401px;
  height: 84px;
  flex-shrink: 0;
  border-style: none;
}

.cardpop h1 {
  color: black;
  font-size: 24px;
  margin: 10px 0;
}

.cardpop h1:nth-of-type(2) {
  color: #FF3100;
  font-size: 19.791px;
  font-weight: 400;
}

.cardpop:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .cardpop {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .cardpop h1 {
    font-size: 20px;
  }

  .cardpop h1:nth-of-type(2) {
    font-size: 17px;
  }
}

.dreamjobscards {
  width: 327px;
  height: 233px;
  border-radius: 25px;
  background: #FFEFEB;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* CSS for dreamjobscards */
.dreamjobscards {
  width: 100%;
  /* Ensures cards take full width initially */
  max-width: 329px;
  /* Maximum width of each card */
  /* height: auto; */
  /* Allows cards to adjust height based on content */
  flex-shrink: 0;
  /* Prevents cards from shrinking */
  border-radius: 25px;
  /* Rounded corners */
  background: #FFEFEB;
  /* Background color */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  /* Box shadow for a subtle depth effect */
  text-align: center;
  /* Centers text horizontally */
  padding: 20px;
  /* Adds padding inside the card */
  margin-bottom: 0;
  /* Removes default margin bottom */
  /* min-height: 100%; */
}

.dreamjobscards img {
  width: 80px;
  /* Image width */
  height: 80px;
  /* Image height */
  margin-bottom: 15px;
  /* Margin below the image */
}

.dreamjobscards h1 {
  color: black;
  /* Text color */
  font-family: "Nunito Sans";
  /* Font family */
  font-size: 24px;
  /* Font size */
  margin: 0;
  /* Removes default margin */
}

/* Media query for responsiveness */
@media (max-width: 992px) {
  .dreamjobscards {
    max-width: 100%;
    /* Cards take full width on medium screens */
    margin-bottom: 20px;
    /* Adds margin below each card */
  }
}

@media (max-width: 576px) {
  .dreamjobscards {
    max-width: 100%;
    /* Cards take full width on small screens */
    margin-bottom: 20px;
    /* Adds margin below each card */
  }
}







@media (max-width: 992px) {
  .clasic {
    max-width: 100%;
    /* Cards take full width on medium screens */
    margin-bottom: 20px;
    /* Adds margin below each card */
  }
}

@media (max-width: 576px) {
  .clasic {
    max-width: 100%;
    /* Cards take full width on small screens */
    margin-bottom: 20px;
    /* Adds margin below each card */
  }
}
















/* QRCONTAINER */

/* .qrContainer{
  width: 960px;
height: 380px;
flex-shrink: 0;
border-radius: 19px;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.h1qr{
  color: #FE5C35;
text-align: center;
font-family: "Nunito Sans";
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
} */

.qrContainer {
  border-radius: 19px;
  background: #fff;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  padding: 20px;
  /* Adjust padding as needed */
  max-width: 960px;
  min-height: 380px;
}

.h1qr {
  color: #2E475D;
  font-family: sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

@media (min-width: 576px) {
  .h1qr {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  .h1qr {
    font-size: 4rem;
  }
}

@media (min-width: 992px) {
  .h1qr {
    font-size: 5rem;
  }
}

@media (min-width: 1200px) {
  .h1qr {
    font-size: 64px;
  }
}


.qrcontainer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}




/* Review Card */
/* .review-card {
  display: flex !important; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  padding: 20px;
  width: 300px; 
  height: 400px; 
  margin: 0 auto;
  border-radius: 14.675px;
  background: #FFF;
  box-shadow: 0px 7.338px 11.006px -7.338px rgba(0, 0, 0, 0.10), 0px 18.344px 27.516px -5.503px rgba(0, 0, 0, 0.10), 0px 0px 0px 0px #000, 0px 0px 0px 0px #000;
  background-color: #fff; 
}

.image-container {
  width: 150px; 
  height: 150px; 
  border-radius: 50%; 
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black; 
  margin-bottom: 10px;
}

.profile-image {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.star-rating {
  font-size: 24px; 
  color: gold; 
  margin-bottom: 10px;
  text-align: center; 
}

.review-text {
  text-align: center; 
  font-size: 16px; 
  color: #333; 
  padding: 0 10px; 
} */
.review-card {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  padding: 20px;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  border-radius: 14.675px;
  background: #FFF;
  box-shadow: 0px 7.338px 11.006px -7.338px rgba(0, 0, 0, 0.10),
    0px 18.344px 27.516px -5.503px rgba(0, 0, 0, 0.10),
    0px 0px 0px 0px #000,
    0px 0px 0px 0px #000;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
}

.review-card.active {
  transform: scale(1.1);
  /* Adjust the scale value as needed */
}



.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.star-rating {
  font-size: 24px;
  color: #FE5C35;
  margin-bottom: 10px;
  text-align: center;
}

.review-text {
  text-align: center;
  font-size: 16px;
  color: #333;
  padding: 0 10px;
}






/* Responsive */

/* .scroll-container {
  width: 100%;
  height: 400px;
  overflow-x: auto;
  overflow-y: hidden; 
}

.scroll-content {
  display: flex;
  flex-wrap: wrap; 
}

.item {
  width: 150px; 
  height: 150px; 
  border: 1px solid #ccc;
  margin: 10px; 
  flex: 0 0 auto; 
} */



.mainc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

@media only screen and (max-width: 1200px) {
  .mainc {
    height: 300px;
  }
}

/* For devices with a max width of 992px */
@media only screen and (max-width: 992px) {
  .mainc {
    height: 250px;
  }
}

/* For devices with a max width of 768px */
@media only screen and (max-width: 768px) {
  .mainc {
    height: 200px;
  }
}

/* For devices with a max width of 576px */
@media only screen and (max-width: 576px) {
  .mainc {
    height: 150px;
    flex-direction: column;
    /* Example of changing flex direction for smaller screens */
  }
}



.container1 {
  justify-content: space-between;
  /* gap: 200px; */
  display: flex;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: 5px;
  align-items: center;
  scrollbar-width: thin;
  height: 400px;
  /* direction: rtl; */
}


.row1 {
  flex-flow: column wrap;
  gap: 20px;
  display: flex;
  width: 550px;
  margin: 10px;
}

.card11 {
  /* background: #f0f0f0; */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  flex: 1;
  width: 492px;
  height: 176px;
}

.bottom-bar1 {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 1.375rem;
}



/* .mainc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.container1 {
  justify-content: space-between;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  align-items: center;
}

.row1 {
  flex-flow: column wrap;
  gap: 20px;
  display: flex;
  width: 100%;
  margin: 10px;
}

.card11 {
  background: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  flex: 1;
  width: 100%;
  max-width: 492px;
  height: 176px;
} */



.blogs-heading {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: black;
  /* Set the default color to black */
  text-align: center;
  /* Center align the text */
  font-size: 1.5rem;
  /* Responsive font size */
  margin: 1rem 0;
}

.highlighted-text {
  color: #FE5C35;
  /* Color for HuntsJob text */
  font-weight: bold;
}

.fixed-size {
  width: 404px;
  height: 294px;
  /* Adjust height as needed */
  object-fit: cover;
  /* Ensures the image covers the dimensions without stretching */
  border-radius: 10px;
}

.ViewPosts {
  text-align: end;
  color: #FE5C35;
  cursor: pointer;
}

#blogdiv {
  transition: transform 0.3s ease;
}

#blogdiv:hover {
  transform: scale(1.1);
  /* Zoom effect */
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #f0f0f0;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: 0.5px solid gray;
}

/* .formContainer {
  width: 600px;
} */

.fieldInput {
  display: block;
  /* margin-top: 35px; */
  max-width: 300px;
  min-width: 220PX;
  height: 35px;
  position: relative;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.09);
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid #FE5C35;

  .form-input {
    width: 150px;
    background: none;
    border: none;
    padding: 9px 14px;
    font-size: 11px;
    color: #6A7C92;

    &:focus {
      outline: none;
    }
  }

  .form-submit {
    font-size: 12px;
    color: #ffffff;
    position: absolute;
    right: 2px;
    top: 3px;
    width: 68px;
    height: 28px;
    border-radius: 17px;
    border: none;
    background-color: #FE5C35;
    box-shadow: 5px -2px 81px 1px rgba(0, 0, 0, 0.09);
    cursor: pointer;
  }
}

.section-companies {
  z-index: 1;
  /* background: radial-gradient(circle at 10% 20%, rgb(255, 252, 214) 0%, rgba(255, 102, 102, 0.44) 90%); */
}

/* .section-companies{
  background: linear-gradient(
    to right,
    #ECCEAE 0%,
    #ECCEAE 50%,
    #FBF6E2 50%,
    #FBF6E2 100%
  );
  background-image: url('https://media.istockphoto.com/id/1140265911/photo/modern-brick-wall-3d-rendering.webp?b=1&s=170667a&w=0&k=20&c=-7ivo8JXj4dZp49xYClCEAjnGN3fio2zq4cRAfnaQWo=');
}

.container-fluid{
  background: linear-gradient(
    to right,
    #FF8225 0%,
    #FF8225 50%,
    #F8EDED 50%,
    #F8EDED 100%
  );
  background-image: url('https://media.istockphoto.com/id/1140265911/photo/modern-brick-wall-3d-rendering.webp?b=1&s=170667a&w=0&k=20&c=-7ivo8JXj4dZp49xYClCEAjnGN3fio2zq4cRAfnaQWo=');
} */


.dividerr {
  border-left: 2px solid;
}

@media (max-width: 768px) {
  .dividerr {
    border-left: none;
  }
}

.hero-headerr {
  background-color: currentColor;
  animation: color-change 5s infinite alternate ease-in-out;
  /* background-image: url("../imgs/back-lines.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 2rem 0;
}

.wtitle1 {
  font-size: 1.3rem;
  font-weight: 800;
  color: #0B1120;
  position: relative;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1s steps(10, end);
}

.wtitle2 {
  font-size: 1.5rem;
  font-weight: 800;
  color: #FF5C35;
  position: relative;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  visibility: hidden;
  animation: typing 1s steps(10, end) 1s;
}

@keyframes typing {
  from {
    visibility: hidden;
    width: 0;
  }

  to {
    visibility: visible;
    width: 100%;
  }
}

.wtitle2.visible {
  visibility: visible;

}

.texteffectHj::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
  transform: skewX(-20deg);
  animation: shine 1.5s forwards;
}

.wtitle {
  font-size: 22px;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

@keyframes shine {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

@media (min-width: 768px) {
  .hero-popular {
    display: flex;
  }

  .popularContainer .row .col-md-6 {
    width: 100%;
  }
}

@media (min-width: 993px) {
  .hero-popular {
    display: contents;
  }

  .popularContainer .row .col-md-6 {
    width: 33.33333333%
  }
}





.stats-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 20px;  */
  margin-top: 40px;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  text-align: center;
}

.stat-number {
  color: black;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.stat-label {
  color: black;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
}


@media (max-width: 768px) {
  .stats-container {
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
  }

  .stat-item {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .stat-number {
    font-size: 20px;
  }

  .stat-label {
    font-size: 18px;
  }
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #FE5C35 !important;
}


.skill-search {
  &.input-group {
    flex: 0 0 70% !important;
  }
}


.sub-hero-headerr {
  background-color: #EEE;
  text-align: center;
  padding: 2rem 0;
  position: relative;
  overflow: hidden;
}

.sub-hero-headerr h1 {
  font-weight: 700;
  color: #2E475D;
}

@media (min-width: 1200px) {
  header .navbar-nav .nav-item .nav-link {
    padding-left: 2rem;
    /* font-size: 70%; */
    /* padding-right: 2rem; */
  }

  @media (min-width: 1400px) {
    header .navbar-nav .nav-item .nav-link {
      font-size: 1rem;
    }
  }
}

@media (min-width: 992px) and (max-width: 1500px) {
  #wow-container {
    width: 23%;
  }

  .animate__animated {
    gap: 0% !important;

  }

  .animate__animated .wow {
    margin: 5px;
  }
}

@media (min-width:1501px) {
  #wow-container {
    width: 22%;
  }
}





@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.typing-effect {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  animation: typing 2s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: black;
  }
}


.modal-background {
  /* background-image: url('../../landingstatic/img/HUNTSJOB\ POPUP\ _WEBSITE_V1_SVG_2.1.svg'); */
  background-size: cover;
  background-position: center;
}

.toastTemp {
  border-radius: 10px;
  min-width: 100px;
  padding: 10px 20px;
  font-size: 16px;
  color: "black";
}

.toastApp {
  width: 130px;
  height: 40px;
  cursor: pointer,
}

@media (max-width: 768px) {
  .toastTemp {
    min-width: 80px;
    font-size: 14px;
    padding: 8px 16px;
  }

  .toastApp {
    width: 100px;
    height: auto;
  }
}

@media (max-width: 480px) {
  .toastTemp {
    min-width: 70px;
    font-size: 12px;
    padding: 6px 12px;
  }

  .toastApp {
    width: 80px;
  }
}


.app-container {
  display: flex;
  justify-content: space-between;
}

.vl {
  border-left: 2px solid black;
  /* height: 500px; */
}

@media (max-width: 799px) {
  .vl {
    display: none;
  }

  .downloadImage {
    display: none;
  }
}

@media (max-width: 799px) {
  .app-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

















.uploadResume i {
  font-size: 24px;
  margin-right: 8px;
}


.uploadResume {
  z-index: 1000;
  position: fixed;
  top: 15%;
  right: 1px;
  width: 243px;
  height: 54px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.uploadResume.show {
  transform: translateX(0);
  /* Slide into view */
  opacity: 1;
}

.uploadResume.hide {
  transform: translateX(100%);
  /* Slide out of view */
  opacity: 0;
}

.uploadResume.animate-out {
  animation: moveRightAndHide 3s ease forwards;
}

@keyframes moveRightAndHide {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}



.hideUploadResume {
  z-index: 1000;
  position: fixed;
  top: 15%;
  right: 40px;
  width: 40px;
  height: 38px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  /* opacity: 0; */
  transition: transform 0.5s ease, opacity 0.5s ease;
  border-left: 4px solid #FF5C35;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.hideUploadResume i,
.uploadResume i,
.hoverUploadResume i {
  font-size: 24px;
  color: #FF5C35;
  font-weight: 700;
}


.uploadResume .rectangle,
.hoverUploadResume .rectangle {
  width: 65px;
  left: 0;
  background-color: #ffffff;
  position: absolute;
  height: 54px;
  top: 0;
}

.uploadResume .img,
.hoverUploadResume .img {
  left: 29px;
  position: absolute;
  height: 54px;
  top: 0px;
}

.uploadResume .text-wrapper,
.hoverUploadResume .text-wrapper {
  position: absolute;
  top: 16px;
  left: 70px;
  font-family: "Nunito Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.uploadResume .group,
.hoverUploadResume .group {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 18px;
  left: 11px;
  background-size: cover;
  background-position: 50% 50%;
}


.upload-container {
  position: absolute;
  display: inline-block;
}



.hoverUploadResume {
  position: fixed;
  /* width: 100%;
height: 100%; */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  cursor: pointer;
  z-index: 1000;
  top: 15%;
  right: 1px;
  width: 243px;
  height: 54px;
  background-color: #fff;
  /* display: flex;
align-items: center;
justify-content: center; */
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.upload-container:hover .hideUploadResume {
  opacity: 0;
}

.upload-container:hover .hoverUploadResume {
  opacity: 1;
  visibility: visible;
}


#ImagFill {
  background-image: url('../../landingstatic/img/Frame\ 550.svg');
}

@media (max-width: 1400px) {
  #ImagFill {
    background-image: none;
  }
}

.firstimag {
  width: 327.505px;
  /* height: 413.298px; */
  height: 370.298px;
  position: absolute;
  top: 25px;
  left: 0px;
}

.secondimag {
  width: 250px;
  height: 305px;
  position: absolute;
  top: -12px;
  left: 255px;
}



.testbg {
  /* background-image: url('../../landingstatic/img/Frame 552.svg'); */
  background-image: url('../../landingstatic/img/Frame\ 552\ \(2\)\ \(1\).png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 583px; */
  /* height: 410px; */
  height: 310px;
  max-width: 1437px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 1em; */
}

@media (max-width: 1200px) {
  .testbg {
    background-image: none;
    /* height: 430px; */
    height: 260px;
    /* margin-bottom: 100px; */

  }
}

.testbgbox {
  width: 100%;
  /* Make the width responsive */
  max-width: 1133px;
  /* Set a max-width to avoid stretching too large */
  height: auto;
  /* Allow height to adjust based on content */
  padding: 30px;
  /* Add more padding for a spacious feel */
  box-sizing: border-box;
  /* Include padding and border in element's total width and height */
  border-radius: 120px 0px;
  /* Keep the border-radius as is */
  background: linear-gradient(to bottom right, #ffffff, #f0f0f0);
  /* Add a subtle gradient */
  box-shadow: 15px 20px 40px rgba(0, 0, 0, 0.15);
  /* Enhanced shadow for a softer look */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Add media queries for different screen sizes */
@media (max-width: 1200px) {
  .testbgbox {
    max-width: 90%;
    /* Adjust max-width for medium screens */
    border-radius: 80px 0px;
    /* Optionally adjust border-radius */
    padding: 20px;
    /* Adjust padding */
  }

  .corner-image {
    display: none;
  }
}

@media (max-width: 768px) {
  .testbgbox {
    max-width: 100%;
    /* Make it full width for small screens */
    border-radius: 60px 0px;
    /* Optionally adjust border-radius */
    padding: 15px;
    /* Reduce padding on smaller screens */
  }
}

@media (max-width: 480px) {
  .testbgbox {
    max-width: 100%;
    /* Ensure full width for very small screens */
    border-radius: 30px 0px;
    /* Optionally adjust border-radius */
    padding: 10px;
    /* Further reduce padding for very small screens */
    box-shadow: 8px 10px 25px rgba(0, 0, 0, 0.15);
    /* Adjust shadow for small screens */
  }
}

.corner-image {
  position: absolute;
  /* Position the image absolutely */
  top: 20px;
  /* Adjust distance from top */
  left: 45px;
  /* Adjust distance from left */
  width: 60px;
  /* Adjust size as needed */
  height: auto;
  /* Maintain aspect ratio */
}

.review {
  max-width: 880px;
  padding: 10px;
  font-family: 'Arial', sans-serif;
  /* Use a more modern font */
  /* font-size: 1.1em;  */
  line-height: 1.6;
  /* Improve line height for readability */
}

.stars {
  margin: 10px 0;
  /* Adjust margin for spacing */
}

.stars span {
  font-size: 1.5em;
  /* Increase star size */
  color: #FFD700;
  /* Gold color for filled stars */
}

.name {
  margin: 20px 0;
  /* Adjust margin for spacing */
  color: #333;
  /* Darker color for better contrast */
  font-family: "Nunito Sans", sans-serif;
  /* Ensure font-family consistency */
  /* font-size: 1.5em;  */
  font-weight: 600;
  /* Use a slightly bolder font weight */
  line-height: 1.4;
  /* Adjust line height for better readability */
}


@media (max-width: 1200px) {
  .firstimag {
    display: none;
  }

  .secondimag {
    top: 25px;
    left: 135px;
  }
}

@media (max-width: 991px) {
  .firstimag {
    display: block;
    top: -35px;
    left: 293px;
  }

  .secondimag {
    top: 25px;
    left: 103px;
  }
}



.flip-box {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  color: black;
}

.flip-box-back {
  /* background-color: dodgerblue; */
  color: white;
  transform: rotateY(180deg);
}



.section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  padding-top: 22px;
}

.section .heading {
  font-weight: 800;
  font-size: 30px;
  margin: 0 0 6px;
  text-align: center;
  color: #2E475D;
}

.jobs-container {
  display: flex;
  /* padding: 0 8.4%; */
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 210px;
}

.job-cat,
.job-cat-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-cat {
  margin-top: 17px;
  margin-bottom: 17px;
  width: 100px;
  flex-direction: column;
  cursor: pointer;
}

.job-cat-img-container {
  width: 80px;
  height: 80px;
  background: #fff;
  box-shadow: 0 34px 64px #e7e7e7b3;
  border-radius: 110px;
}

.job-cat,
.job-cat-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}





.number-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  background-color: white;
}

.number {
  position: relative;
  width: 80px;
  height: 200px;
  text-align: center;
  font-family: "maven pro", sans-serif;
  font-size: 13em;
  font-weight: 900;
  width: 0.9em;
  text-align: center;

}

.number-half {
  position: absolute;
  top: -125px;
  left: 0;
  width: 100%;
  height: 50%;
  /* background-color: lightblue; */
  /* line-height: 30px; */
  font-size: 115px;
  transition: transform 0.3s ease;
  /* overflow: hidden; */
}

.number-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  line-height: 30px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  box-shadow: 0px -22px 25px 5px white;
}

.number-text h1 {
  font-size: clamp(1.3rem, 1vw, 4rem);
  font-weight: 800;
  /* margin-top: 10px; */
  font-family: 'Nunito Sans';
  margin-bottom: 0px;
}

.number-text p {
  font-size: clamp(0.3rem, 1vw, 0.8rem);
  font-family: 'Nunito Sans';
  line-height: 13px;
  font-weight: 700;
}

.number-text img {
  width: 25%;
}

.number:hover .number-half {
  transform: translateY(-50%);
}


.bPiMDL {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 45px !important;
}


.resume-img {
  width: 100%;
  /* Makes the image scale to the width of its container */
  height: auto;
  /* Maintains the aspect ratio of the image */
}

@media (max-width: 992px) {
  .resumeBuilderButtonClass {
    display: none;
  }

  .resumeBuilderButtonClass2 {
    display: block;
  }
}

@media (min-width: 993px) {
  .resumeBuilderButtonClass {
    display: block;
  }

  .resumeBuilderButtonClass2 {
    display: none;
  }
}



/* Resume Builder Section */
.sidebar {
  background-color: #343a40;
  color: white;
  padding: 20px;
}

.stepper-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  position: relative;
}

.step {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

.step.active {
  transform: scale(1.05);
}

.step.completed .circle {
  background-color: #28a745;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  position: relative;
  z-index: 1;
}

.line {
  width: 2px;
  height: 20px;
  background-color: #007bff;
  position: absolute;
  left: 15px;
  top: 30px;
  z-index: 0;
}

.step span {
  font-size: 16px;
  color: #ffffff;
}

.main-content {
  background-color: white;
}

.main-content h4 {
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
  margin-bottom: 30px;
  color: black;
}

.resume-preview h5 {
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.resume-card {
  border: 1px solid #ccc;
}

.resume-card:hover {
  border-color: #007bff;
}

.selected-card {
  border: 2px solid #007bff;
}

.resume-preview-container {
  position: relative;
}

.highlight-box {
  position: absolute;
  border: 2px solid red;
  z-index: 10;
}

.resume-container section {
  margin-bottom: 200px !important;
  border: 3px solid red;
}

/* Mobile Styles */
@media (max-width: 767px) {
  .stepper-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: -10px;
    background-color: #fff !important;
  }

  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    margin: 0 5px;
  }

  .step .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .step span {
    font-size: 14px;
    color: black;
  }

  .line {
    width: 30px;
    height: 2px;
    background-color: #007bff;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  .step:not(:last-child) .line {
    display: block;
  }

  .step:last-child .line {
    display: none;
  }
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* Resume Builder Section End */



.mobile-nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.arrow-button {
  background-color: #FE5C35;
  /* Button color */
  color: white;
  /* Text color */
  border: none;
  /* padding: 10px; */
  /* font-size: 24px;  */
  cursor: pointer;
  border-radius: 35%;
  outline: none;
  transition: background-color 0.3s;
}

.arrow-button:disabled {
  background-color: #ddd;
  /* Disabled button color */
  cursor: not-allowed;
}

.arrow-button:hover:not(:disabled) {
  background-color: #e04e29;
  /* Darker shade on hover */
}



.overlay {
  height: 90%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 10%;
  left: -25px;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;

}

.overlay a {
  text-decoration: none;
  font-size: 36px;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 45px;
  font-size: 40px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


@media (max-width: 1200px) {

  .search-action .action-end button,
  .search-action .action-start button {
    font-size: clamp(0.4rem, 1vw, 0.8rem);
  }

}

@media (max-width: 470px) {
  .search-action {
    flex-direction: column;

  }

  .search-action .action-end button,
  .search-action .action-start button {

    font-size: 50%;
  }

  .button-actions .buttons .btn {
    font-size: 50%;
    white-space: break-spaces;
  }

}


@media (max-width: 470px) {
  .profile-information-items .item ul .emailFlex {
    display: inline;
  }

  .profile-information-items .item .status-container .status-header .status-start {
    flex-direction: column;
  }
}


@media (min-width: 768px) and (max-width: 1200px) {
  .profile-information-items .item .status-container .status-header .status-start {
    font-size: 56%;
  }

  .hero-header .container {
    justify-content: center !important;
  }

  .hero-header .container .row {
    min-width: 87% !important
  }

}



.social-links {
  display: flex;
  grid-template-columns: repeat(3, 0.5fr);
  gap: 30px;
  row-gap: 20px;
  justify-content: center;

}

.social-links>a {
  height: 2.25rem;
  width: 2.25rem;
  flex: 0 0 2.25rem;
  background: #b1b1b1;
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 0.125rem;
}

.second-line {
  margin-left: 10px;
}

@media (max-width:992px) {

  .social-links,
  .subtitle {
    justify-content: unset !important;

  }
}

@keyframes shine {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (max-width:992px) {

  .social-links,
  .subtitle {
    justify-content: unset !important;

  }

  footer .copyright-container .container .links {
    display: none;
  }

  footer .subtitle {
    color: #ff5b3d;
  }
}

/* search input starts from here */

.cl_CustomParagraph p {
  margin-bottom: 0.5px;
}

.resume-container {
  background: #fff;
  padding: 40px;
  /* border-radius: 12px; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 1100px;
  margin: auto;
  border-radius: 0 !important;
}

.profile-header {
  border-bottom: 2px solid #FF5C35;
  padding-bottom: 20px;
}

.profile-img {
  border: 4px solid #FF5C35;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.profile-name {
  font-size: 2.5rem;
  color: #FF5C35;
  margin: 10px 0;
  text-transform: uppercase;
}

.profile-title {
  font-size: 1.25rem;
  color: #555;
}

.profile-contact {
  font-size: 1rem;
  color: #777;
}

.section-title {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #2E475D;
}

.section-content {
  margin-bottom: 30px;
}

.skills-list {
  list-style: none;
  padding: 0;
}

.skills-list li {
  background: #faa08a;
  color: #fff;
  padding: 8px 12px;
  margin: 5px 0;
  border-radius: 6px;
  display: inline-block;
  font-size: 0.9rem;
}

.text-muted {
  color: #6c757d;
}

#manualSearchHelpIcon {
  cursor: pointer;
}

#manualSearchHelpIcon:hover {
  color: green !important;
}


#testing {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.search-input {
  border: 1px solid #dee2e6;
  border-radius: 6px;
  position: relative;
  display: flex;
}

.custom-input {
  /* width: 300%; */
  padding: 8px;
  /* border: none; */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.suggestions-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item.highlighted {
  background-color: #e0e0e0;
}

.pill-container {
  margin-top: 10px;
}



.pill {
  /* display: flex; */
  display: inline-block;
  align-items: center;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 4px 8px;
  margin-right: 8px;
  margin-bottom: 4px;
  gap: 5px;
}

.pill .close-pill {
  margin-left: 8px;
  cursor: pointer;
  color: #888;
}


#myinput:focus,
#myinput:focus {
  outline: none;
}


.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 99;
}

.custom-modal-content {
  background-color: white;
  width: 100%;
  min-height: 40vh;
  padding: 20px;
  position: relative;
  border-radius: 0 0 8px 8px;
}

.custom-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 999;
}

.custom-modal-close:hover {
  color: red;
}

/* search input ends here */

@media (min-width: 767px) and (max-width: 1350px) {
  .container .RightLanImage {
    margin: 0% !important;
  }

  .hero-header .container {
    max-width: 80% !important;
  }
}

@media (max-width:1200px) {
  .img-fluid1 {
    height: 100%;
    min-width: 200px;
    margin-left: 20px;
  }
}

/* .css-13cymwt-control {
  border-radius: 20px !important;
} */


.css-t3ipsp-control {
  border-color: #ffae9a !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 92, 53, 0.2) !important;
  border-radius: 5px !important;
}

.autofillBg .form-control:-webkit-autofill,
.autofillBg .form-control:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
    transition: background-color 0s 600000s, color 0s 600000s !important; 
}


#registration-container .css-13cymwt-control{
  border-radius: 5px !important;
}

/* kalpit */

#testcont{
  background-image: url('../../assets/imgs/Frame.avif');
}

.rowtext {
  width: 100%;
  text-align: center;
  color: #000000;

}

.columnstext {
  width: 33%;
  min-width: 280px;
  vertical-align: top;/*Fix for different     height elements*/
  margin-bottom: 10px;
  display: inline-block;
  color: #000000;
 }

@media screen and (max-width: 680px) {
  .columnstext {
    width: 100%; 
  }
}

