/* .faq-options-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .faq-option-button {
    padding: 0.5rem;
    border-radius: 25px;
    background: transparent;
    border: 1px solid #e66000;
    margin: 3px;
  } */





  .faq-options-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .faq-option-button {

    border-radius: 25px;
    background: transparent;
    border: 1px solid #e66000;
    margin: 3px;
    font-size: 0.9rem;
  }
  