.link-list {
  padding-left: 47px;
}

.link-list-item {
  text-align: left;
  list-style-position: outside;
  font-size: 0.7rem;
}
.link-list-item::marker {
  content: "»    ";
  font-size: 1.2em;
}

.link-list-item-url {
  text-decoration: none;
  margin: 6px;
  display: block;
  color: #1d1d1d;
  background-color: #f1f1f1;
  padding: 8px;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(150, 149, 149, 0.4);
}

.nodata {
  margin-left: 50px;
  background: #f1f1f1;
  box-shadow: 2px 2px 4px rgba(150, 149, 149, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
}

.yt-height {
  /* box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.2); */
  /* overflow-y: scroll; */
  height: 55%;
  overflow-y: scroll;
  /* border-radius: 20px; */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.yt-height::-webkit-scrollbar {
  width: 10px;
}

.yt-height::-webkit-scrollbar:hover {
  width: 15px;
}

.yt-height::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  background: #eedcca;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.yt-height::-webkit-scrollbar-thumb {
  background: #dc7f41dd;
  border-radius: 4px;
  border: 4px solid transparent;
  background-clip: content-box;
}

.yt-height::-webkit-scrollbar-thumb:hover {
  background: #dc7f41c2;
  border: 1px solid transparent;
  background-clip: content-box;
}

.yt-height::-webkit-scrollbar-button {
  display: none;
}


.Shimmer-card{
  width: 180px;
  height:20px;
  /* background-color: rgba(141, 135, 135, 0.196); */
  /* margin: 30px; */
}
.Shimmer-card>p{
  width: 180px;
  height:20px;
  background: linear-gradient(-45deg, #eee 40%, #fafafa 50%, #eee 60%);
  background-size: 50%;
  background-position-x: -100%;
  animation: shimmer 1s infinite linear;
  /* margin-top:  20px; */
}

@keyframes shimmer {
  to {
     background-position-x: 0%
  }
}
